

ul {
    list-style-type: none;
    /*text-align: right !important;*/
    margin: 0;
    padding: 0;
}

li {
  display: inline;
}

h1 {
  margin: 0;
}

form {
  margin: 2%;
}

.Log {
  display: inline;
}

/*div {
  display: inline-block;
}*/

.navbar {
  background-color: 'lightGrey';
  border-bottom: 1px solid lightGrey;
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  background-color: 'white';
  color: #5A5959;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 10% auto;
}

.GoalContainer {
  text-align: center;
}

.DateContainer {
  display: grid;
  grid-template-columns: 20% repeat(6, 11%) auto;
  height: 100px;
  line-height: 100%;
  /*padding-left: 2%;*/
  /*margin-top: 2%;*/
  text-align: center;
}

.Goal {
  display: grid;
  grid-template-columns: 20% auto;
  height: 100px;
  /*padding: 2%;*/
  text-align: center;
  border-bottom: 2px solid black;
}

.Goal:last-child{
  border-bottom: none;
}

.LogContainer {
  display: grid;
  grid-template-columns: repeat(7, 13.9%) auto;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    background: rgba(225, 225, 225, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.blush {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.hover:hover {
  background-color: rgba(225, 225, 225, 0.5);
}

.line:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
