

ul {
    list-style-type: none;
    /*text-align: right !important;*/
    margin: 0;
    padding: 0;
}

li {
  display: inline;
}

h1 {
  margin: 0;
}

form {
  margin: 2%;
}

.Log {
  display: inline;
}

/*div {
  display: inline-block;
}*/

.navbar {
  background-color: 'lightGrey';
  border-bottom: 1px solid lightGrey;
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  background-color: 'white';
  color: #5A5959;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 10% auto;
}

.GoalContainer {
  display: grid;
  grid-template-rows: 10% auto;
  text-align: center;
}

.DateContainer {
  display: grid;
  grid-template-columns: 21% repeat(6, 11%) auto;
  height: 75%;
  /*padding-left: 2%;*/
  /*margin-top: 2%;*/
  text-align: center;
}

.Goal {
  display: grid;
  grid-template-columns: 20% auto;
  height: 90%;
  /*padding: 2%;*/
  text-align: center;
}

.LogContainer {
  display: grid;
  grid-template-columns: repeat(7, 14%) auto;
  height: 20%;
  padding-left: 2%;
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*.App-title {
  font-size: 1.5em;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
