

ul {
    list-style-type: none;
    /*text-align: right !important;*/
    margin: 0;
    padding: 0;
}

li {
  display: inline;
}

.Log {
  display: inline;
}

/*div {
  display: inline-block;
}*/

.navbar {
  background-color: 'lightGrey';
  border-bottom: 1px solid lightGrey;
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  background-color: 'white';
  color: #5A5959;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*.App-title {
  font-size: 1.5em;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
